* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2e99a5;
}
.todo-app {
  display: flex;
  flex-direction: column;
  width: 650px;
  min-height: 700px;
  background: white;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: black;
  font-size: 24px;
}

/* style ketika tulisan todo diklik */
.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  /* Jarak margin form */
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #0a5231;
  outline: none;
  width: 320px;
  background: transparent;
  color: black;
}

.todo-input::placeholder {
  color: black;
  opacity: 0.5;
}

.todo-button {
  padding: 16px;
  border: none;
  /* Memberi border radius hanya untuk sisi kanan masing-masing 4px */
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  background-color: #26747e;
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #36a5b2;
}

.todo-button.edit {
  background-color: #36a5b2;
  padding: 16px 22px;
}

/* Style untuk barisan todo yang telah diinput */
.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background-color: #005b66;

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
